body {
  background-color: black;
  font-family:"Times New Roman", Times, serif;
  color:white;
}
p,ul{
  font-style:italic
    
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}